.header{
    background-color: white;
    position:relative;
    margin-right: 10px;
    display: block;
    height: 50%;
  
}
.items{
    //background-color: rgb(156, 138, 138);
    background-color: transparent;
    color: #723830;
    font-weight: bold;
    // margin-top: 20%;
    // margin-right: 10%;
    overflow-y: hidden;
    font-style: italic;
    padding: 5px 5px;
    cursor: pointer;
    
    
}
.ham{
    width: 35px;
    height: 5px;
    background-color: #949EA0;
    margin: 6px 0;
    display: flex;
   
}
.icon{
    position: relative;
    right: 0px;
}
.menu{
    width: 300px;
   
}

.bmmenu {
    background: #fff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    max-height: 25%;
    overflow-y: scroll;
  }





  


  